@media only screen and (min-width: 1280px) {
	
}

@media only screen and (min-width : 1400px) {

}

@media only screen and (max-width : 1199px) {
	  /*#wrapper {
		overflow:hidden;
	  }*/
	  .de_testi blockquote {
	  	min-height: 274px;
	  }
	  .custom-123-1 .text-slider {
	  	font-size: 45px;
	  }
	  .footer-menu ul li a {
	  	padding: 10px 0px 0px 10px;
	  }
	  .responsive-0{
	  	display: none
	  }
	  .responsive-1{
	  	display: block
	  }
	  .myaccordion .boxes input[type="checkbox"] + label {
	  	padding-left: 22px;
	  	font-size: 12px;
	  }
	  .product-grid .social li:nth-child(1), .product-grid .social li:nth-child(2), .product-grid .social li:nth-child(3) {
	  	transform: inherit;
	  }
	  .woocommerce input, .woocommerce textarea, .woocommerce select {
	  	background: #fff;
	  }
	  .de-team-list .team-desc {
	  	top: 70%
	  }
	  .card-image-stationery .de-team-list:hover .team-desc {
    	top: 70%;
	  }
	  .checkout-section img {
    	width: 50%;
      }
      .general-contact {
      	padding: 10px 0px;
      }
      .touch-form form {
    	padding: 20px 20px 20px 20px;
	}
	#mainmenu > li > a {
	    font-size: 12px;
	}
	.menu-currency .select-search {
   		 width: 115px;
	}
	.annoucement-middle .card .details p {
		font-size: 11px;
	}
	.desktop-animated {
		display: none
	} 
	.mobile-animated {
		display: block
	} 

}

@media only screen and (max-width : 991px) {
	  .spacer-single {
	  	height: 0px;
	  }
	  .custom-123-1 .text-slider {
	  	font-size: 38px;
	  }
	  header {
	  	display: none
	  }
	  .mobile-nav {
	  	display: block;
	  }
	  .subfooter, .footer-menu {
	  	text-align: center;
	  }
	  .footer-menu ul {
    	padding-inline-start: 0px;
	  }
	  .social-icons {
	  	margin-bottom: 15px;
	  }
	  .footer-menu ul li a {
	    padding: 20px 0px 0px 20px;
	    font-size: 20px;
	  }
	  .de_testi blockquote {
	    min-height: auto;
	  }
	  #section-intro, .list-vendor {
	  	padding-bottom: 50px;
	  	padding-top: 50px;
	  }
	  .picframe {
	  	margin-top: 20px; 
	  	margin-bottom: 20px;
	  }
	  #subheader .crumb {
	  	margin-top: 25px;
	    letter-spacing: 1px;
	  }
	  .customtopUSPS {
	  	padding: 20px 0px 20px 0px;
	  }
	  .customtopUSPS ul li {
	  	letter-spacing: 1px;
	  	padding: 0px 2px 0 5px;
	    font-size: 12px;
	  }
	  .customtopUSPS ul li::after {
	  	right: -2px;
	    top: 5px;
	    height: 14px;
	  }
	  .myaccordion .boxes input[type="checkbox"] + label {
	  	font-size: 13px;
	  	padding-left: 30px;
	  }
	  
	  .product-grid .deg_btn img {
    	width: 30px;
    	height: 30px;
	}
	.product-grid .deg_btn span {
    	top: 9px;
    	font-size: 12px;
    }
    .product-grid .social li a {
    	line-height: 35px;
    	height: 35px;
    	width: 35px;
    }
    .myaccordion .de_chcekbox ul li {
    	margin: 0px 32px 22px 8px;
    }
    .call-to-action {
    	padding: 30px !important;
	}
    .call-to-action .container .col-md-4, .call-to-action .container .col-md-8 {
    	margin-bottom: 0px;
	}
	.de-team-list .team-desc {
    	top: 65%;
	}
	.card-image-stationery .de-team-list h3 {
		font-size: 14px;
	}
	.card-image-stationery .de-team-list .lead {
		font-size: 14px;
	}
	.card-image-stationery .de-team-list .add-cart {
		padding: 2px 8px;
	}
	.position-sticky {
    	top: 80px;
	}
	.entry-summary h1 {
		font-size: 20px;
	}
	.mobile-detail {
		display: block;
	}
	.desktop-detail {
		display: none;
	}
	.product-cart .product-description {
		margin-bottom: 15px;
	}
	.product-cart .product-description .parent-1 {
    	display: block;
    	justify-content: inherit;
	}
	.product-cart .product-description .parent-1 .item-1 {
		margin-bottom: 27px;
	}
	.product-cart .product-description .parent-1 .item-3 {
		text-align: right;
	}
	.product-cart .product-description .parent-1 .item-1 p {
		margin-top: 0px;
		font-size: 16px;
	}
	.product-cart .product-description .parent-1 .item-1 h4 {
    	margin-bottom: 5px;
	}
	.product-cart .product-description .parent-1 .item-1 span {
    	font-size: 10px;
    }
    .product-cart .product-description .parent-1 .item-3 h5 {
    	font-size: 14px;
    }

	.product-cart .product-description .parent-2 .item-1 a {
		font-size: 10px;
	}
	.product-cart .product-description .parent-2 .item-2 a {
    	padding: 5px 5px;
    	font-size: 11px;
	}
	.btn-toggle {
	    height: 20px;
    	width: 40px;
	}
	.btn-toggle > .handle {
		top: 4px;
    	left: 4px;
    	width: 12px;
    	height: 12px;
	}
	.btn-toggle.active > .handle {
		left: 24px;
	}
	.personalize-cart .personalize-description .parent-1 {
    	margin-bottom: 10px;
	}
	.personalize-cart .personalize-description .field textarea {
		width: 100%;
	}
	.personalize-cart .personalize-description .file-upload-wrapper {
		width: 100%;
    	margin-top: 10px;
	}
	.personalize-cart .price-cart-1 h5 {
		margin-top: 5px;
		font-size: 14px;
	}
	.product-cart .product-description .wc123-4 {
		display: block;
		justify-content: initial;
		margin-top: -1% !important;
		text-align: right;
	}
	.checkout-section img {
    	width: 70%;
	}
	.subheader-checkout {
    	padding: 100px 0 40px 0;
    	padding-bottom: 40px !important;
	}
	.general-contact {
    	padding: 10px 40px;
    	margin-bottom: 20px;
	}
	.touch-content {
		display: inline !important;
	}
	.touch-form {
		width: 100%;
	}
	.touch-content .touch-image {
    	width: 100%;
	}
	#de-map .touch-image img {
    	height: auto;
	}
	#contact-menu {
		position: initial !important;
	}
	.faq .customize_solution span.ease-effect {
		font-size: 12px;
	}
	.annoucement-middle .card .details p {
    	font-size: 13px;
	}
	.refer-earn form {
    	padding: 20px 70px 30px 70px !important;
	}
	.my-history .title, .my-history .subtitle {
		font-size: 12px;
	}
	.edit-info {
		margin-left: 0px;
	}
	.edit-info .inputGroup input {
		font-size: 11px;
	}
	.my-history .order-summary h4 {
    	font-size: 17px;
	}
	.review-form .item-1 p {
		font-size: 12px;
	}
	.review-form .form-control {
		width: 200px;
    	font-size: 13px;
	}
	.review-form .btn-custom {
		padding: 8px 8px;
	}
	.rating-form label .fa {
    	font-size: 1.1rem; 
	}
	.ac-refer {
    	margin-left: 0px;
	}
	




}

@media only screen and (max-width : 767px) {
	  #section-intro {
	  	padding-top: 0px
	  }
	  .custom-123-1 .text-slider {
	  	font-size: 28px;
	  	line-height: 40px;
	  	letter-spacing: 1px;
	  }
	  .myaccordion .boxes input[type="checkbox"] + label {
	    font-size: 12px;
	    padding-left: 25px;
	  }
	  .customtopUSPS ul li {
	  	display: table-cell;
	  }
	  .customtopUSPS ul li::after {
	    right: 0px;
	    top: 10px;
	    height: 20px;
	  }
	  .product-grid .title {
	  	font-size: 14px;
	  	line-height: 20px;
	  }
	  .product-grid .price {
	  	font-size: 14px
	  }
	  .product-grid .social li a {
    	line-height: 30px;
    	height: 30px;
    	width: 30px;
	}
	.wc123-0 {
    	padding: 40px 0 40px 0;
	}
	.call-to-action h3 {
    	font-size: 19px;
	}
	.call-to-action a {
		padding: 7px 10px 7px 10px !important;
	}
	.entry-summary h1 {
    	font-size: 16px;
	}
	.container {
    	max-width: 100%;
	}
	.de-team-list .team-desc {
    	top: 58%;
	}
	.card-image-stationery .de-team-list .add-cart {
		margin-right: -10px;
	}
	.personalize-cart .personalize-description .item-1 span {
		font-size: 10px;
	}
	.price-summary .card .card-body .promo span {
		font-size: 11px;
	}
	.price-summary .card .card-body .promo-code {
		font-size: 11px;
	}
	.product-cart .product-description .parent-2 {
		margin-top: 20%;
	}
	.personalize-cart .personalize-description .file-upload-wrapper:after{
		font-size: 10px;
	}
	.checkout-section .expand h4 {
    	font-size: 12px;
	}
	.faq ul.tabs li {
		width: 50%;
	}
	span.ease-effect {
    	font-size: 15px;
	}
	.annoucement-top .img-comment img {
		height: auto !important;
	}
	.annoucement-middle .card .details p {
    	font-size: 11px;
	}
	.annoucement-middle .img-comment img {
		height: auto;
	}
	.my-history .order-summary h4 {
    	font-size: 14px;
	}
	.review-form .form-control {
    	width: 150px;
    	font-size: 12px;
	}
	.mobile-animated h2 {
		margin-bottom: 20px;
		font-size: 25px;
	}




}

@media only screen and (max-width : 479px) {
	.home-stationery .container{
	  	padding-left: 15px;
	  	padding-right: 15px;
	  }
	  .footer-menu ul li a {
	    padding: 20px 0px 0px 10px;
	    font-size: 14.5px;
	  }
	  .footer-menu ul {
	  	padding-left: 0;
	  }
	  .subfooter {
	    padding: 20px 0 0px 0;
	  }
	  .list-vendor img {
	  	 width: 16%;
	  }
	  #section-intro .padding20 {
	    padding: 20px 0px 10px 0px !important;
	  }
	  #section-intro .padding20 h2 {
	  	font-size: 25px;
	    margin-bottom: 15px;
	    line-height: 36px;
	  }
	  #testimonial-carousel {
	    margin-top: 20px;
	  }
	  #section-intro, .list-vendor {
	  	padding-bottom: 30px;
	  	padding-top: 30px;
	  }
	  .responsive-1{
	  	display: none;
	  }
	  .responsive-0{
	  	display: block;
	  }
	  .modal-box .modal-dialog .modal-content .modal-body .form-control {
	  	font-size: 14px;
	  }
	  .modal-box .modal-dialog .modal-content .modal-body .subscribe {
	  	font-size: 14px;
	  	padding: 10px 10px;
	  }
	  .filter-page .btn-custom {
	    font-size: 12px;
	    padding: 6px 10px;
	    margin-left: 10px;
	    line-height: 21px;
	  }
	  .woocommerce input, .woocommerce textarea, .woocommerce select {
	  	width: 120px;
	    margin-right: 10px;
	  }
	  #subheader h1 {
	  	font-size: 12px;
	  }
	  #subheader .crumb {
	    font-size: 8px;
	  }
	  #subheader {
	    background-size: cover!important;
	  }
	  .search-box {
	  	height: 30px;
	    border-radius: 30px;
	  }
	  .search-box .search-input {
	  	font-size: 12px;
	  	line-height: 30px;
	  }
	  .search-box .search-btn {
	  	width: 30px;
	    height: 30px;
	  }
	  .search-box .fa-search {
	  	font-size: 15px !important;
	  }
	  .search-box:hover > .search-input {
	    width: 150px;
	  }
	  .customtopUSPS {
	    padding: 10px 0px 10px 0px;
	  }
	  .customtopUSPS ul li {
	    display: block;
	  }
	  .customtopUSPS ul li::after {
	  	display: none;
	  }
	  .myaccordion .de_chcekbox ul li {
	  	margin: 0px 32px 22px 20px;
	  }
	  .myaccordion .boxes {
	  	padding: 0px 0px 0px 0px;
	  }
	  .myaccordion .boxes input[type="checkbox"] + label {
	    font-size: 12px;
	    padding-left: 20px;
	    display: inline-block;
	    margin-right: 15px;
	  }
	  .product-display {
	    padding: 20px 20px 0px 20px;
	    border-top: 1px solid #d5d5d5;
	  }
	  .product-category-button {
	  	margin-bottom: 20px;
	  }
	  .call-to-action {
	  	text-align: center;
	  }
	  .wc123-1 {
	  	text-align: center !important;
    	margin-top: 30px;
	  }
	  .call-to-action h3 {
    	font-size: 17px;
	  }
	  .entry-summary .estimated-time {
	  	font-size: 12px;
	  }
	  .de-team-list .team-desc {
    	top: 75%;
	 }
	 .card-image-stationery .col-md-4 {
	 	margin-bottom: 10px;
	 }
	 .related-stationery h4 {
	 	font-size: 20px;
	 }
	 .timeline.exp:before {
	 	left: 110px;
	 }
	 .timeline .tl-block .tl-time {
	 	padding: 10px 10px 0px 10px;
	 }
	 .timeline.exp .tl-block .tl-bar {
	    margin-left: 108px;
	}
	.timeline.exp .tl-message {
    	margin-left: 130px;
	}
	.timeline .tl-block .tl-message .tl-main {
		font-size: 11.5px;
	}
	.offer p {
		 font-size: 12px;
		 letter-spacing: 0.5px;
	}
	.price-summary {
    	padding-left: 0px;
    	padding-right: 0;
	}
	.product-cart {
		padding: 0px 0px 10px 0px;
	}
	.product-cart .product-description {
		margin-bottom: 15px;
	}
	.product-cart .product-description .parent-1 .item-1 {
    	margin-bottom: 10px;
	}
	.wc123-3 {
		padding: 20px 0px 50px 0px;
	}
	.product-cart .col-sm-5 {
		padding-right: 0px;
		padding-left: 0px;
	}
	.personalize-cart .personalize-description {
		margin-top: 15px;
	}
	.price-summary .card .card-body .promo-code {
    	font-size: 13px;
    	width: 43%;
	}
	.price-summary .card .card-body .promo span {
    	font-size: 14px;
	}
	.product-cart .product-description .parent-2 {
    	margin-top: 10%;
	}
	.personalize-cart .personalize-description .item-1 span {
		font-size: 13px;
	}
	.personalize-cart .personalize-description .file-upload-wrapper:after {
    	font-size: 13px;
	}
	.wc123-5 .col-sm-7 {
		padding-left: 0px;
		padding-right: 0px;
		margin-bottom: 20px;
	}
	.checkout-section {
		padding: 0px;
	}
	.checkout-section .expand {
		padding: 15px 25px 0px 25px;
	}
	.general-contact {
    	padding: 10px 40px 20px 40px;
    	height: auto;
	}
	.subscribe .feedback-input {
		width: 142px;
		font-size: 12px;
	}
	.subscribe .subscribe-btn {
    	padding: 7px 7px 7px 7px !important;
	}
	.faq .customize_solution span.ease-effect {
    	font-size: 10px;
	}
	#accordion .panel-heading .panel-title {
		font-size: 10px;
	}
	.annoucement-top .img-comment img {
    	margin-bottom: 20px;
	}
	.annoucement-middle .img-comment img {
		margin-top: 30px;
	}
	.annoucement-middle .card {
	    margin: 50px 0 0px 0px
	}
	.wc123-6 {
		padding: 30px 0px 50px 0px;
	}
	.my-history .order-details .parent-2 {
		margin-top: 15px;
	}
	.review-form .parent-1 {
		 display: block;
    	justify-content: inherit;
    	text-align: center;
	}
	.review-form .form-group {
    	margin-bottom: 0;
	}
	.review-form .form-control {
    	margin: 0 auto 20px;
	}
	.edit-info .inputGroup input {
    	font-size: 14px;
	}
	.mobile-animated h2 {
	  margin-top: 20px;
	}

	  
}
