.btn{
    padding: 3px 6px !important;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align:center;
}

td, th { 
    padding: 8px !important;
    text-align:center;
}

.form-group label {width:100%}
.form-group label .labelLeft{float: left;}
.form-group label .labelRight{float: right; color: #00c0ef; cursor: pointer;}
.form-group label i{float: right; color: #00c0ef; margin: 4px 0px 0px 10px; cursor: pointer; padding: 0px 5px;}